* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 16px;
}

img {
  width: 100%;
}

ul, li {
  list-style: none;
}

button, fieldset {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}